---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<a class="border py-1 px-4 border-neutral-200 rounded-lg hover:text-green-500 transition-all" href={href}>{label}</a>
