---
interface Post {
  title: string;
  author: string;
  pubDate: string;
  description: string;
}

interface Props {
  post: Post;
  url: string;
}


const { post, url } = Astro.props;
console.log(post)

const  {title, author, pubDate, description} = post;

const pubDateF = new Date(pubDate).toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric'})

---

<a href={url}>
  <article class="p-2 border rounded-lg border-neutral-200 flex flex-col gap-2">
    <header>
      <h2 class="text-lg font-semibold">{title}</h2>
      <time class="text-neutral-700">{pubDateF}</time>
    </header>
    <div class="h-12">
      <p class="line-clamp-2">{description}</p>
    </div>
  </article>
</a>
